html{
    background-color: rgba(255, 217, 0, 0.137);
}

main p{
    color:white;
    text-align: center;
}
.container-header{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.container-header img{
    background-color: orange;
    border-radius: 10px;
}
.container-header h1{
    flex-grow: 1;
    color:white;
    font-size:40px;
}

.container-links{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
header{
    text-align: center;
    background-color: red;
    padding:10px;
    border-radius:4px;
    max-width: 100%;
    color:white;
    position:sticky;
    top:0px;
    z-index: 99;
}

nav a{
    text-decoration: none;
    background-color: orange;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    padding:5px;
    font-weight: bold;
}

section.products-nav{
    background-color: orange;
    padding:1px;
    margin:2px;
    position:sticky;
    position: -webkit-sticky;
    top: 122px;
    z-index: 99;

}

.container-products{
    display:flex;
    justify-content: space-around;
}
.container-products li {
    list-style-type: none;
}

.container-products li a{
    text-decoration-line: none;
    color:rgb(0, 0, 0);
    font-size:20px;
    padding:20px;
    font-weight: bold;
}

.container{
    display: flex;
    flex-wrap:wrap;
}

.items{
    flex-basis:49%;
    border-radius: 3px;
    border:3px solid black;
    background-image: url("../img/DOUBLE-WHOPPER.png"); 
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px;
    height:300px;
    flex-grow: 1;
    background-color: white;

}

.items-1{
    flex-basis:49%;
    border-radius: 3px;
    border:3px solid black;
    margin:2px;
    background-image: url("../img/salad.svg"); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
    height:300px;
    flex-grow: 1;
    background-color: white;

}

.items-2{
    flex-basis:49%;
    border-radius: 3px;
    border:3px solid black;
    margin:2px;
    background-image: url("../img/pepsi.svg"); 
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
    height:300px;
    flex-grow: 1;
    background-color: white;

}


.container h4{
    color:red;
    text-align:center;
    font-size:20px;
}


/* .items div{
    outline: 4px;
    outline-style: dotted;

}  */

.container div:hover{
    opacity:0.6;
}

.container a{
    text-decoration: none;
}

ul{
    color:orange;
    display:inline-block;
    text-align:left;
}


.items div li{
    list-style: none;
}
footer{
    color:rgb(0, 0, 0);
    text-align:center;

}

@media only screen and (max-width: 600px) {
    .container-header{
        flex-direction: column;
    }
    .container-header h1{
        font-size:25px;
    }

    .items h4{
        font-size:15px;
    }
    .items li{
        font-size:13px;
    }
    .items{
        background-size: 300px;

    }
    .items-1{
        background-size: 200px;

    }
    .items-2{
        background-size: 200px;

    }
    section.products-nav{

        top: 270px;

    
    }
  }

